<div class="blog-auth-page">
    <div *ngIf="isAuthenticated && fullName" class="admin-welcome">
        <li class="nav-item h5">
            <p>Welcome back, {{ fullName }}</p>
        </li>
    </div>
    <div *ngIf="isAuthenticated" class="dash-button">
        <li class="nav-item h5">
            <button type="button" routerLink="/create-post" class="btn btn-outline-light">Create Post</button>
        </li>
    </div>
    <div *ngIf="isAuthenticated" class="view-button">
        <li class="nav-item h5">
            <button type="button" routerLink="/view-posts" class="btn btn-outline-light">View Posts</button>
        </li>
    </div>
    <div *ngIf="isAuthenticated" class="logout-button">
        <li class="nav-item h5">
            <button type="button" (click)="logout()" class="btn btn-outline-light"><i class="fas fa-sign-out-alt"></i> Signout</button> 
        </li>
    </div>
</div>