<div class="about-page-content">
    <div class="container">
        <div class="about-header pt-5 pb-3">
            <h3>About</h3>
        </div>
    </div>
    <div class="about-desc pb-5">
        <h4 class="about-sub-header p-3">Hi, I'm Dasia!</h4>
        <p>
            I'm a self-taught full-stack developer who has been on this journey since the very start of 2019. Here I am now, ready to share my story, thoughts, and projects to anyone here.
            This is a blog where I share my journey learning how to code with technologies I'm currently studying, considering on learning, or just finding anything interesting!
        </p>
        <hr>
        <h4 class="about-sub-header p-3">A little bit about myself</h4>
        <p>
            A few things about myself, I'm a huge nerd when it comes to tech in general. Reaching from coding, PC building, devices, and much more.
            I'm also very fond of music of pretty much any genre. I welcome any song recommended to me my way.
            I really like gaming and I very much enjoy cooking. Unfortunately, I don't know how to bake, but that's another thing I would love to learn as well!
        </p>
        <hr>
        <h4 class="about-sub-header p-3">Current Skill-Set</h4>
        <p>
            My expertise ranges from back-end development and full-stack development. My go-to language of choice is Java, but I'm not limited to just using said language.
            If anything, I welcome any new challenges while learning new techs/stacks to help broaden my knowledge in software development.
        </p>
        <h5 class="stack-skills"><i class="fas fa-angle-right"></i> Back-End Development</h5>
        <p>
            I work with Java with Spring (Boot, MVC, Security, Data), Hibernate, JPA, JDBC, and JUnit.
        </p>
        <h5 class="stack-skills"><i class="fas fa-angle-right"></i> Front-End Development</h5>
        <p>
            I use Angular for my front-end framework while working on full-stack projects, HTML, CSS, Bootstrap.js, jQuery, and Node.js.
        </p>
        <h5 class="stack-skills"><i class="fas fa-angle-right"></i> Database & Tools</h5>
        <p>
            I use MySQL database for development and PostgreSQL for deployment and production. I can host web apps on Heroku (small apps) and AWS.
        </p>
    </div>
</div>