<div class="about-page-content">
    <!-- <div class="about-header">
        <h3>Hi! I'm Dasia Melvin (aka) DeyMonet</h3>
    </div> -->
    <div class="about-desc">
        <h4 class="about-sub-header">Who Am I?</h4>
        <p>
            I'm a self-taught Java Developer who has been on this journey since the very start of 2019! Here I am now, ready to share my story, thoughts, and projects to anyone here.
            This is a blog where I share my journey learning how to code with technologies I'm currently studying, considering on learning, or just finding anything interesting!
        </p>

        <h4 class="about-sub-header">A little bit about myself</h4>
        <p>
            A few things about myself, I'm a huge nerd when it comes to tech in general. Reaching from coding (obviously), PC building, devices, and much more.
            I'm also very fond of music of pretty much any genre. I welcome any song recommended to me my way.
            I really like gaming and I very much enjoy cooking. Unfortunately, I don't know how to bake, but that's another thing I would love to learn as well!
        </p>

        <!-- <h4 class="about-sub-header">What I'm learning</h4>
            <ul>
                <li>
                    <p class="about-learning" style="font-weight: 500;">Angular</p>
                    <p>
                        At the moment, I'm still learning more about the Angular framework. Funny enough, this was the first JavaScript framework that I decided to jump into and start learning.
                        I did have other options like React.js or Vue, but I wanted a challenge and I heard the learning curve was pretty huge.
                    </p>
                </li>
                <li>
                    <p class="about-learning" style="font-weight: 500;">Spring Security</p>
                    <p>
                        I'm very proficient in the Spring framework. I'm not that <span style="font-style: italic;">amazing</span> at Spring Security just as yet. 
                        I can get my head wrapped around it, but I would love to do a lot more with it.
                    </p>
                </li>
            </ul>
             -->
    </div>
</div>