/*********
    UNIVERSAL
*********/


* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix {
    zoom: 1;
}

.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

::-webkit-scrollbar {
    color: rgb(40, 40, 40);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 255, 136);
    border-radius: 10px;
}


/*********
    GENERAL
*********/


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    white-space: normal;
    background-color: #131313;
    color: #fff;
}

p {
    font-weight: 200;
    font-size: 20px;
    color: #fff;
}

ul {
    list-style: none;
}

a:link,
a:active,
a:visited {
    text-decoration: none;
}

li a:link,
li a:active,
li a:visited {
    text-decoration: none;
    color: #000;
}

hr {
    border-top: 1px solid rgb(104, 104, 104);
}

.active-link,
.active-link p{
    background-color: rgb(19, 105, 65);
    border-radius: 17px 0 0 17px;
}

.fx-min-active-link {
    border-bottom: 2px solid rgb(19, 105, 65);
}

.fx-min-active-link p{
    color: rgb(0, 255, 136);
}


/*********
    MEDIA SCREEN
*********/


@media  screen and (min-width: 1221px) {
    .blog-content {
        background-color: rgb(40, 40, 40);
        float: right;
        width: 85%;
    }

    .fx-min-nav-topics {
        visibility: hidden;
        display: none;
    }
}


@media screen and (max-width: 1220px) {
    .latest-header {
        text-align: center;
        padding: 3px;
        margin: 5px 0;
    }

    .sidenav-topics {
        display: none;
        float: none;
        width: 0;
    }

    .blog-content {
        width: 100%;
        float: center;
    }

    .post-page {
        margin: 5% 0;
    }

    .fx-min-nav-topics {
        visibility: visible;
        padding: 12px 0 5px 0;
        float: center;
        margin: 0 3%;
    }
}

@media screen and (max-width: 768px) {
    .fx-min-active-link {
        border: none;
    }
}

@media screen and (max-width: 479px) {
/* start of phone styles */

}


/*********
    BLOG HEADER
*********/


.blog-topic { padding: 1.5%; }

/***** Top Navigation *****/

.main-top-nav {
    background: rgb(26, 26, 26);
    border-bottom: 3px solid rgb(0, 255, 136);
    position: -webkit-sticky;
    position: sticky;
}

.sitenav-header h2 {
    font-size: 22px;
}

.blog-nav-tabs li,
.blog-nav-tabs li a {
    color: #fff;
    -webkit-transition: 0.5s color;
    -o-transition: 0.5s color;
    transition: 0.5s color;
}

.blog-nav-tabs li:hover,
.blog-nav-tabs li a:hover {
    color: rgb(0, 255, 136);
}

/***** Header *****/


.blog-header h2 {
    font-weight: 500;
    font-size: 40px;
}

.blog-desc { 
    padding: 2%;
    text-align: center;
 }

.blog-desc p{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

.blog-tagline {
    text-align: center;
}

.blog-tagline p {
    font-size: 22px;
}

/***** Topic *****/
.sidenav-title h4{
    padding: 1% auto;
}

.sidenav-topics {
    width: 15%;
    float: left;
    position: -webkit-sticky;
    position: sticky;
}

.blog-topic-list {
    border-radius: 10px;
}

.fx-min-nav-topics {
    background-color: rgb(26, 26, 26);
}

.fx-min-nav-topics li p {
    text-align: center;
}

.blog-topic-list li p {
    border-radius: 10px;
    padding-top: 10px;
}

.fx-min-nav-topics li p,
.blog-topic-list li p{
    font-size: 20px;
    font-weight: 400;
    -webkit-transition: 0.5s color;
    -o-transition: 0.5s color;
    transition: 0.5s color;
}

.fx-min-nav-topics li p:hover,
.blog-topic-list li p:hover { 
    color: rgb(0, 255, 136); 
}


/*********
    CONTENT
*********/

.blog-content {
    background-color: rgb(40, 40, 40);
}

/***** About *****/
.about-header { text-align: center; }

.home-header h3,
.about-header h3
{ font-size: 27px; }

.about-desc p {
    font-weight: 300;
    text-align: left;
    padding-bottom: 1%;
}

.about-sub-header {
    text-align: center;
    margin: 1% 0;
    color: rgb(0, 255, 136);
}

.about-learning,
.about-learning p {
    font-size: 21px;
}

.about-header,
.about-desc p,
.about-learning p {
    color: #fff;
}

.stack-skills {
    color: rgb(0, 255, 136);
}

/***** Post List *****/
.post-topic-title { text-align: center; }

.home-post-card {
    border-style: solid;
    border-width: 2.5px 1px;
    border-color: rgb(0, 255, 136);
}

.home-post-card,
.post-card {
    background-color: #131313;
    border-radius: 10px 0;
}

.post-card { 
    margin-bottom: 5%;
    border: 1px solid rgb(104, 104, 104);
}
.post-card-title a{ text-decoration: none; }

.post-card-title {
    font-size: 23px;
    font-weight: 500;
}

.post-card-title,
.post-card-date 
{ display: inline-block; }

.post-card-date {
    margin-left: 20px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}

.post-card-desc { font-weight: 300; }
.home-post-pill { display: block; }

.home-post-pill p {
    border-radius: 17px;
    padding: 5px 3px;
    font-weight: 500;
}

.home-post-pill a p,
.home-post-pill a p:link,
.home-post-pill a p:active,
.home-post-pill a p:visited  {
    color: #fff;
    -webkit-transition: 0.5s color, 0.5s background-color;
    -o-transition: 0.5s color, 0.5s background-color;
    transition: 0.5s color, 0.5s background-color;
}

.home-post-pill a p:hover {
    color: rgb(0, 255, 136);
    background-color: rgb(19, 105, 65);
}

.post-card-desc,
.post-card-seemore 
{ display: inline; }

.post-card-desc,
.post-card-seemore,
.home-post-pill 
{ font-size: 20px; }

.post-card-title,
.post-card-date,
.post-card-desc,
.home-post-pill,
.post-card-seemore p
{ color: #fff; }

.post-card-seemore p{
    font-weight: 400;
    display: inline;
    margin-left: 3%;
    -webkit-transition: 0.2s color;
    -o-transition: 0.2s color;
    transition: 0.2s color;
}

.post-card-seemore p:hover { color: rgb(0, 255, 136); }

.post-card-seemore a{
    color: #000;
    text-decoration: none;
}

.blog-post-bottom { 
    margin: 1%;
    padding-bottom: 3%;
 }
.post-list-home-link { text-align: center; }

.blog-post-bottom p {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    -webkit-transition: 0.2s color;
    -o-transition: 0.2s color;
    transition: 0.2s color;
}

.blog-post-bottom p:hover { color: rgb(0, 255, 136); }

.blog-post-bottom a:link,
.blog-post-bottom a:active,
.blog-post-bottom a:visited {
    text-decoration: none;
    color: #000;
}

/***** Post Page *****/
.blog-post-page { padding: 1%; }

.post-page {
    border-radius: 10px 0;
    background-color: #131313;
    margin-bottom: 5%;
    border: 1.5px solid #fff;
}

.post-header { 
    padding: 2% 0 1%;
    text-align: center;
}

.post-header p {
    font-size: 30px;
    font-weight: 500;
}

.post-body {
    margin: 0 3%;
    padding: 1% 0 20px;
}

.post-body p {
    word-spacing: 1px;
    text-align: left;
}

.post-date { margin: 0 10%; }

.post-date p {
    font-size: 18px;
    font-style: italic;
}

.post-body-bottom { margin: 0 10%; }

.post-body-bottom p {
    font-weight: 400;
    -webkit-transition: 0.2s color;
    -o-transition: 0.2s color;
    transition: 0.2s color;
}

.post-body-bottom a:link,
.post-body-bottom a:active,
.post-body-bottom a:visited {
    text-decoration: none;
    color: #000;
}

.post-body-bottom p:hover {
    color: rgb(0, 255, 136);
}

.post-date,
.post-body-bottom {
    display: inline-block;
    font-size: 18px;
}

.post-date p,
.post-body-bottom p 
{ font-size: 18px; }

/***** Admin Tab *****/
.admin-welcome li p {
    font-size: 20px;
    font-weight: 500;
}

.admin-welcome li p,
.view-button li button,
.dash-button li button,
.logout-button
{ margin: auto 5px; }

.admin-welcome,
.view-button,
.dash-button,
.logout-button 
{ display: inline-block; }

/***** Create Posts *****/
.blog-create-post-page { padding-bottom: 4%; }
.create-post-header {text-align: center; }

.create-post-form {
    padding: 4% 2% 2%;
    background-color: #e7e7e7;
    border-radius: 10px;
}

.title-tag-form { margin-bottom: 3%; }
.post-title { margin: auto 1.5%; } 
.post-topic-tag { margin: auto 2%; }

.create-btn,
.home-btn
{ margin: auto 2%; }

/***** View Posts *****/
.view-post-header { text-align: center; }

.view-post-title a:link,
.view-post-title a:active,
.view-post-title a:visited { 
    text-decoration: none;
    color: #fff;
    -webkit-transition: 0.2s color;
    -o-transition: 0.2s color;
    transition: 0.2s color;
}

.view-post-title a:hover { color: rgb(0, 255, 136); }
.view-card-buttons button{ margin: 3px; }


/*********
    FOOTER
*********/


footer { background-color: rgb(26, 26, 26); }
.credits { text-align: center; }

.credits p {
    color: rgb(104, 104, 104);
    font-size: 18px;
}