<!-- Navigation Bar -->
<div class="main-top-nav">
  <nav class="navbar navbar-expand-sm justify-content-end">
    <div class="container sitenav-header">
      <h2 class="navbar-brand">
        Dasia Melvin<span style="color: rgb(0, 255, 136);">.</span>
      </h2>
      

      <ul class="navbar-nav blog-nav-tabs">
        <app-adminpage></app-adminpage>
        <li class="nav-item h5"><a class="nav-link" routerLink="/home"><i class="fas fa-home"></i> Home</a></li>
        <li class="nav-item h5"><a class="nav-link" routerLink="/about"><i class="fas fa-question-circle"></i> About</a></li>
        <li class="nav-item h5"><a class="nav-link" href="mailto:dasia.monet98@outlook.com"><i class="fas fa-envelope"></i> Contact</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Listed Categories -->
<app-topic></app-topic>

<!-- Content -->
<div class="blog-content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- Footer -->
<footer class="fixed-bottom">
  <div class="credits">
    <p>Copyright© DeyMonet 2021. All rights reserved.</p>
  </div>
</footer>